.inputStyle {
  border-radius: 10px;
  outline: none;
  width: 192px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  border: 0.66px solid #8a8a8a;
  font-size: 0.75em;
  color: #000;
  background-color: white;
}

.inputStyle::placeholder {
  color: #8a8a8a;
}

.spanStyle {
  color: #000;
  font-size: 1rem;
  line-height: 30px;
}

.inputComponent_div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
